body{
color: Black;
font-family: Arial, Helvetica, sans-serif;
background-color: rgb(160, 209, 161);
}

.page{
    max-width: 600px;
    margin: auto; 
    background-color: rgb(253, 253, 253);
    padding: 10px;
    align-content: center;

}
table{
    align-content: center;
}
h1{
    width:auto; 
    text-align: center;
    
}
th,td{
    text-align: center;
    padding:5px;
}
button{
    background-color: #4CAF50; /* Green */
    border: none;
    color: white; 
    padding: 10px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}
input{
    width:50px;
    text-align: center;
}
a.button{
 display:inline-block;
 padding:0.5em 3em;
 border:0.16em solid #FFFFFF;
 margin:0 0.3em 0.3em 0;
 box-sizing: border-box;
 text-decoration:none;
 text-transform:uppercase;
 font-family:'Roboto',sans-serif;
 font-weight:400;
 color:#FFFFFF;
 text-align:center;
 transition: all 0.15s;
}
a.button:hover{
 color:#DDDDDD;
 border-color:#DDDDDD;
}
a.button:active{
 color:#BBBBBB;
 border-color:#BBBBBB;
}
@media all and (max-width:30em){
 a.button{
  display:block;
  margin:0.4em auto;
 }
}
