body{
color: Black;
font-family: Arial, Helvetica, sans-serif;
background-color: rgb(160, 209, 161);
}

.page{
    max-width: 600px;
    margin: auto; 
    background-color: rgb(253, 253, 253);
    padding: 10px;
    align-content: center;

}
table{
    align-content: center;
}
h1{
    width:auto; 
    text-align: center;
    
}
th,td{
    text-align: center;
    padding:5px;
}
button{
    background-color: #4CAF50; /* Green */
    border: none;
    color: white; 
    padding: 10px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}
input{
    width:50px;
    text-align: center;
}
